@model PersonalGolfTour.Models.TourViewModels.TourViewModel

@{
    ViewData["Title"] = "PlacementRules";
    Layout = "_TourLayout";
}

<h2>PlacementRules</h2>

<p>
    <a asp-action="CreatePlacementRule">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Place
                </th>
                <th>
                    Points
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlacementRules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                <a asp-action="DeletePlacementRule" asp-route-id="@item.PlacementRuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


