@model PersonalGolfTour.Models.TourViewModels.TourViewModel
@{
    ViewData["Title"] = "TourStandings";
    Layout = "_TourLayout";
}

<h2>TourStandings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Points
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Standings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Tour.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>